.infoCardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
  background: linear-gradient(135deg, #f8f4f0, #aac2e7);
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(25% - 20px);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.iconWrapper {
  /* background-color: #aac2e7; */
  background-color: orange;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.icon {
  width: 30px;
  height: 30px;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  /* color: #6798c0; */
  color: #1d5396;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  -webkit-background-clip: text;
}
.title::after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0;
  width: 70%;
  height: 4px;
  background-color: orange;
}

.description {
  font-size: 1rem;
  /* color: #777; */
  color: black;
  line-height: 1.4;
}
@media (min-width: 320px) and (max-width: 375px) {
  .title {
    font-size: 5vw;
  }
  .description {
    font-size: 4vw;
  }
}
@media (max-width: 767px) {
  .infoCardsContainer {
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
    gap: 10px;
  }

  .card {
    width: 90%;
    max-width: 400px;
    margin: 10px 0;
  }

  .title {
    font-size: 1rem;
  }

  .description {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .card {
    width: calc(50% - 20px);
  }
}
@media (min-width: 1440px) {
  .card {
    width: calc(25% - 20px);
  }
  .offsetUp {
    transform: translateY(-20px);
  }

  .offsetDown {
    transform: translateY(20px);
  }
}
