.infoCardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 20px;
  background-color: #f8f4f0;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(25% - 20px);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.iconWrapper {
  background-color: #aac2e7;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.icon {
  width: 30px;
  height: 30px;
}

.offsetUp {
  transform: translateY(-20px);
}

.offsetDown {
  transform: translateY(20px);
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #777;
  line-height: 1.4;
}
