.footer {
  background-color: #aac2e7;
  color: #fff;
  padding: 40px 20px;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.navLinks,
.contactInfo,
.socialLinks,
.newsletter {
  flex: 1 1 220px;
}

.navLinks h3,
.contactInfo h3,
.socialLinks h3,
.newsletter h3 {
  margin-bottom: 15px;
  font-size: 1.4em;
  color: #fefefe;
}

.navLinks ul {
  list-style: none;
  padding: 0;
}

.navLinks li {
  margin-bottom: 10px;
}

.navLinks a {
  color: #e1e1e1;
  text-decoration: none;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #ffffff;
}
.icon {
  margin-right: 4px;
}
.contactInfo a {
  margin-bottom: 10px;
  font-size: 0.95em;
  color: #ffffff;
}
.contactInfo a {
  color: #ffffff;
}
.contactInfo a:hover {
  color: #3a7bc1;
}

.socialLinks .icons {
  display: flex;
  gap: 15px;
}

.socialLinks a {
  color: #ffffff;
  font-size: 1.5em;
  transition: color 0.3s;
}

.socialLinks a:hover {
  color: #3a7bc1;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
}

.newsletter button {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  color: #1d5396;
  font-weight: bold;
}

.newsletter button:hover {
  background: #3a7bc1;
  color: white;
}

.footerBottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 20px;
}

.footerBottom p {
  margin-bottom: 10px;
}

.footerLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
}

.footerLinks a {
  color: #e1e1e1;
  text-decoration: none;
  font-size: 0.9em;
}

.footerLinks a:hover {
  color: #ffffff;
}
