.homePage {
  background-color: #aac2e7;
}

.serviceGrid,
.teamGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.serviceGrid {
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: #000;
}
