body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #99b5de; */
}
/* Контейнер для центрирования контента */
.container {
  max-width: 1440px;
  margin: 0 auto; /* Центрирование контейнера на экране */
  padding: 0; /* Добавление отступов для удобства на маленьких экранах */
  background-color: #99b5de;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
